* {
    font-family: myFont;
    direction: rtl;
    font-size: 1.5vw;
    user-select: none;
}

@font-face {
    font-family: myfont;
    src: url("fonts/SuezOne-Regular.ttf");
}


@media screen and (orientation:portrait) {
    body {
        opacity: 0;
    }
}

@media screen and (orientation:landscape) {
    body {
        opacity: 1;
    }
}

html {
    background-color: rgb(245, 224, 161);
}

body {
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important;
    background-color: rgb(245, 224, 161);
    opacity: 0;
}

#header {
    cursor: default;
    pointer-events: none;
}

#pc, #mobile {
    display: none;
}

#mobile {
    text-align: center;
}

#startButton {
    position: absolute;
    top: 60vh;
    left: 46vw;
    height: 16vh;
    width: 16vh;
    border-radius: 50vw;
    /* border: solid rgb(133, 1, 1) 2px; */
    color: rgb(133, 1, 1);
    background-color: rgba(245, 205, 86, 0.521);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    transition: all 0.1s;
}

#startButton:hover {
    cursor: pointer;
    background-color: rgba(255, 202, 43, 0.521);
}

#startButton:active {
    background-color: rgba(255, 191, 0, 0.521);
}

#startButton img {
    height: 8vh;
    width: 8vh;
    position: relative;
    left: 0.5vw;
}


canvas {
    height: 100vh;
    width: 100vw;
    background-color: rgb(245, 224, 161);
}

img {
    position: absolute;
    pointer-events: none;
}


#arrows {
    position: absolute;
    top: 5vh;
    right: 33vw;
    width: 10vw;
    height: 18vh;
}


#space {
    position: absolute;
    top: 25vh;
    right: 33vw;
    width: 10vw;
    height: 7vh;
}

#arText {
    position: absolute;
    top: 13vh;
    right: 45vw;

}

#spText {
    position: absolute;
    top: 24.5vh;
    right: 45vw;
}

#arText2 {
    position: absolute;
    top: 13vh;
    right: 42vw;

}

#spText2 {
    position: absolute;
    top: 24.5vh;
    right: 37vw;
}


#mainText {
    text-align: center;
    position: absolute;
    top: 35vh;
    right: 20vw;
}

.feedback {
    position: absolute;
    width: 7vw;
    height: 14vh;
    display: none;
}

#noV {
    top: 30vh;
    left: 8vw;
}

#noX {
    top: 30vh;
    left: 8vw;
}

#yesV {
    top: 30vh;
    right: 8vw;
}

#yesX {
    top: 30vh;
    right: 8vw;
}

#myProg {
    position: absolute;
    top: 3vh;
    left: 26vw;
    transform: scale(4);
    font-size: 0.4vw;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}

#myProg::before {
    position: relative;
    top: 0.25vh;
    content: "התקדמות";
}

#myProg::after {
    position: relative;
    bottom: 0.5vh;
    content: attr(data-content)}

.ldBar-label {
    display: none;
}

#victory {
    display: none;
    width: 30vw;
    height: 10vh;
    position: absolute;
    bottom: 35vh;
    right: 35vw;
}

#pele {
    width: 15vw;
    height: 30vh;
    position: absolute;
    top: 3vh;
    right: 17vw;
}

#mobileControls {
    position: fixed; 
    bottom: 30vh;
    left: 15vw;
    height: 20vh;
    width: 70vw;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#mobileControls div {
    opacity: 0.7;
}

#mobileControls img {
    /* pointer-events: all; */
    opacity: 0.7;
    position: relative;
    height: 20vh;
    width: 10vw;
}

