.flip-card {
    background-color: transparent;
    width: 25vw;
    height: 20vh;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    
  }

  .flip-card:hover {
    cursor: help;
  }

  .flip-card-front img {
    opacity: 0.8;
    height: 10vh;
    width: 5vw;
    margin-left: 1vw;
  }

  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    transform: rotateY(180deg);
    background-color: rgba(245, 205, 86, 0.89);
    border-radius: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 1vw;
    font-size: 2.2vh !important;
  }