
#spinner {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

/**/

.loader {
   font-size: 10px;
   margin: 50px auto;
   text-indent: -9999em;
   width: 11em;
   height: 11em;
   border-radius: 50%;
   background: rgb(133, 1, 1);
   background: -moz-linear-gradient(left, rgb(133, 1, 1) 10%, rgba(255, 255, 255, 0) 42%);
   background: -webkit-linear-gradient(left, rgb(133, 1, 1) 10%, rgba(255, 255, 255, 0) 42%);
   background: -o-linear-gradient(left, rgb(133, 1, 1) 10%, rgba(255, 255, 255, 0) 42%);
   background: -ms-linear-gradient(left, rgb(133, 1, 1) 10%, rgba(255, 255, 255, 0) 42%);
   background: linear-gradient(to right, rgb(133, 1, 1) 10%, rgba(255, 255, 255, 0) 42%);
   position: relative;
   -webkit-animation: load3 1.4s infinite linear;
   animation: load3 1.4s infinite linear;
   -webkit-transform: translateZ(0);
   -ms-transform: translateZ(0);
   transform: translateZ(0);
 }
 .loader:before {
   width: 50%;
   height: 50%;
   background: rgb(133, 1, 1);
   border-radius: 100% 0 0 0;
   position: absolute;
   top: 0;
   left: 0;
   content: '';
 }
 .loader:after {
   background: rgb(245, 224, 161);
   width: 75%;
   height: 75%;
   border-radius: 50%;
   content: '';
   margin: auto;
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
 }
 @-webkit-keyframes load3 {
   0% {
     -webkit-transform: rotate(0deg);
     transform: rotate(0deg);
   }
   100% {
     -webkit-transform: rotate(360deg);
     transform: rotate(360deg);
   }
 }
 @keyframes load3 {
   0% {
     -webkit-transform: rotate(0deg);
     transform: rotate(0deg);
   }
   100% {
     -webkit-transform: rotate(360deg);
     transform: rotate(360deg);
   }
 }


 /**/


 .spinner {
   width: 100px;
   height: 100px;
 
   position: relative;
   margin: 100px auto;
 }
 
 .double-bounce1, .double-bounce2 {
   width: 100%;
   height: 100%;
   border-radius: 50%;
   background-color: #850101;
   opacity: 0.6;
   position: absolute;
   top: 0;
   left: 0;
   
   -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
   animation: sk-bounce 2.0s infinite ease-in-out;
 }
 
 .double-bounce2 {
   -webkit-animation-delay: -1.0s;
   animation-delay: -1.0s;
 }
 
 @-webkit-keyframes sk-bounce {
   0%, 100% { -webkit-transform: scale(0.0) }
   50% { -webkit-transform: scale(1.0) }
 }
 
 @keyframes sk-bounce {
   0%, 100% { 
     transform: scale(0.0);
     -webkit-transform: scale(0.0);
   } 50% { 
     transform: scale(1.0);
     -webkit-transform: scale(1.0);
   }
 }

