@font-face {
    font-family: valera;
    src: url(assets/fonts/VarelaRound-Regular.ttf);
  }

* {
    direction: rtl;
    user-select: none;
    font-family: valera;
}

@media screen and (orientation:portrait) {
    #openScreen {
        opacity: 0;
    }
    #lomda {
        opacity: 0;
    }
    #logo {
        transform: scale(0) !important;
    }
    #rotateMessage {
        display: flex;
    }
}

@media screen and (orientation:landscape) {
    #openScreen {
        opacity: 1;
    }
    #lomda {
        opacity: 1;
    }
    #logo {
        transform: scale(1) !important;
    }
    #rotateMessage {
        display: none;
    }
}

body {
    background-color: rgb(245, 224, 161);
    overflow: hidden;
}

img {
    pointer-events: none;
    -webkit-user-drag: none;
}

#openScreen {
    display: none;
}

#openImg {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

#toxic {
    display: block;
    height: 80vh;
    width: 40vw;
    bottom: 20vh;
    left: 25vw;
}

#openText {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(245, 205, 86, 0.521);
    border-radius: 3vw;
    padding: 4vw;
    background-image: url("media/headerBack2.png");
    background-repeat: no-repeat;
    background-size: 100% 10%;
    background-position: 0% 70%;
    animation-delay: 1s;
    width: 55%;
}

#openText img {
    height: 8vh;
    width: 4vw;
    position: relative;
    left: 0.5vw;
}

#logo {
    display: none;
    position: absolute;
    top: 4vh;
    left: 2.5vw;
    height: 16vh;
    width: 8vw;     
    opacity: 0.8;  
}

#text {
    text-align: center;
    font-size: 2.4vw;
    font-weight: bold;
    color: rgb(148, 0, 0);
}

#startButton {
    opacity: 0;
    height: 8vw;
    width: 8vw;
    border-radius: 50vw;
    /* border: solid rgb(133, 1, 1) 2px; */
    color: rgb(133, 1, 1);
    background-color: rgba(245, 205, 86, 0.521);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    transition: all 0.1s;
}

#startButton img {
    height: 4vw;
    width: 4vw;

}

#startButton:hover {
    cursor: pointer;
    background-color: rgba(255, 202, 43, 0.521);
}

#startButton:active {
    background-color: rgba(255, 191, 0, 0.521);
}

.spinIn {
    animation-name: spinIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

@keyframes spinIn {
    from {opacity: 0; transform: rotate(0deg);}
    to {opacity: 1; transform: rotate(360deg);}
}

#pakar {
    height: 30vh;
    width: 15vw;
    margin-right: 2vw;
}

.smoke {
    opacity: 50%;
    height: 5vh;
    width: 2.5vw;
    position: absolute;
    top: 21vh;
    right:15vw;
    animation-name: up;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes up {
    from {top: 21vh; transform: rotate(0deg);}
    to {top: -5vh; transform: rotate(100deg);}
  }

#smoke1 {
      display: none;
      width: 25vw;
      height: 50vh;
      position: absolute;
      top: 25vh;
      right: 0vw;
}

/* #openScreen {
    display: none;
} */

#lomda {
    display: none;
}

.page {
    display: none;
}

#page1 div h2 {
    color: rgb(133, 1, 1);
}

.content {
    z-index: -1;
    height: 70vh;
    width: 70vw;
    border-radius: 2vw;
    position: absolute;
    top: 15vh;
    right: 15vw;
    font-size: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    text-align: right;
}

.content h2 {
    font-size: 3.5vh;
    font-weight: bold;
    color: rgb(133, 1, 1);
}

#matarot {
    text-align: center;
}

li {
    list-style: none;
}

li::before {
    content: "\2022"; 
    color: rgb(133, 1, 1);
    display: inline-block; 
    width: 1em;
    margin-right: -1em;
}

#progress {
    height: 90vh;
    width: 7.5vw;
    /* background-color: rgba(245, 205, 86, 0.521); */
    border-radius: 2vw;
    position: absolute;
    top: 5vh;
    right: 2vw;
    text-align: center;
    font-size: 1vw;
    font-weight: bold;
    display: none;
}

#progBubble {
    height: 12vh;
    width: 7.5vw;
    background-color: rgba(245, 205, 86, 0.521);
    border-radius: 2vw;
    position: absolute;
    /* +12.33333 */
    top: 71vh;
    right: 44vw;
    z-index: -1;
    animation-iteration-count: infinite;
    
}

.progItem {
    line-height: 2.5vh;
    height: 10.5vh;
    margin: 1vw;
    margin-top: 2.2vh;
    margin-bottom: 2.2vh;
    opacity: 0%;
    transition: transform 0.5s;
}

.progItem img {
    margin-left: 1vw;
    margin-right: 1vw;
    display: block;
    height: 6vh;
    width: 3.5vw;
}

.clickable {
    cursor: pointer;
    transition: transform 0.3s, color 1s, filter 1s;
    filter: invert(4%) sepia(97%) saturate(7136%) hue-rotate(0deg) brightness(90%) contrast(112%);
    color: black;
    animation-fill-mode: backwards;
}

.clickable:hover {
    transform: scale(1) !important;
}

.title {
    transition: color 0.3s;
    font-weight: bold;
    font-size: 5vh !important;
    margin-top: 15vh;
    text-align: center;
    color: rgb(133, 1, 1);
}

#bubble {
    font-weight: normal;
    padding: 1vw;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5vh;
    height: 12vh;
    width: 7.5vw;
    position: absolute;
    top: 71vh;
    right: 44vw;
    border-radius: 2vw;
    background-color: rgba(245, 205, 86, 0.521);
    color: rgb(133, 1, 1);
    border: solid rgba(133, 1, 1, 1) 1px;
    transition: all 0.1s;
}

#bubble:hover {
    background-color: rgba(255, 202, 43, 0.521);
}

#bubble:active {
    background-color: rgba(255, 191, 0, 0.521);
}

#hha {
    margin-bottom: 20vh;
}

#slides {
    background-color: rgba(245, 205, 86, 0.521);
    height: 30vh;
    width: 80vw;
    position: absolute;
    bottom: -2vh;
    border-radius: 2vw;
}

#big {
    position: relative;
    left: 2vw;
    height: 30vh;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#big h3 {
    font-size: 3vh;
    margin-right: 2.5vw;
    font-weight: bold;
}

#big div {
    /* display: none; */
    text-align: center;
    margin-right: 1vw;
    font-size: 1.1vw;   
    font-weight: bold;
}

#gameButton {
    display: none;
    position: fixed;
    bottom: 11vh;
    left: 3vw;
    transition: filter 0.15s;
}

#gameButton:hover {
    filter: brightness(120%);
}

#icon {
    pointer-events: all;
    height: 10vh;
    position: absolute;
    left: -0.2vw;
    padding-right: 5.5vw;
    cursor: pointer;
}

#gotogame {
    transition: left 0.15s;
    border-radius: 0.5vw;
    height: 10vh;
    position: absolute;
    left: 0vw;
}

#warnings {
    /* transform: scale(0.2); */
    transition: all 1s;
}

.scaleDown {
    transform: scale(0.05);
}

.warning {
    height: 16vh;
    width: 8vw;
    margin-left: 2vw;
    margin-bottom: 2vh;
}

.warncon {
    display: flex;
    align-items: center;
}

.warncon p {
    font-size: 1.4vw;
    background-color: rgba(245, 205, 86, 0.356);
    border-radius: 1vw;
    padding: 1vh 1vw;
}

strong {
    color: rgb(133, 1, 1);
}

#switchPoint {
    opacity: 0.4;
    height: 5vh;
    width: 3vw;
    position: absolute;
    top: 15.5vh;
    left: 28vw;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-delay: 4s;
}

.flash {
    animation-name: flash;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 3s;
}

@keyframes flash {
    0% {transform: scale(1);}
    40% {transform: scale(1.2);}
    100% {transform: scale(1);}
}

#areas {
    height: 10vh;
    margin-top: -8vh;
    font-size: 1.3vw;
    transition: transform 1s, height 1s;
}

#areas p {
    margin-bottom: 2vh;
}

#areas div {
    border-radius: 50vw;
}

.zone {
    cursor: help;
    font-weight: bold;
}

#posherzone {
    width: 30vh;
    height: 30vh;
    background-color: rgba(255, 132, 132, 0.685);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hotzone {
    width: 16vh;
    height: 16vh;
    background-color: rgba(255, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3vh;
}

#coldzone {
    background-color: rgba(198, 198, 252, 0.6);
    width: 7vw;
    text-align: center;
    border-radius: 1vw;
    padding: 0.5vw;

}

.tooltip-inner {
    font-size: 1.2vw;
    border-radius: 1vw;
}

#timeline {
    position: absolute;
    right:2.6vw;
    top: 5vh;
    width: 1.2vw;
    height: 70vh;
}

#accordion {
    font-size: 1vw;
    position: absolute;
    top: 10vh;
    width: 60vw;
}

#accordion h3 {
    height: 5vh;
    line-height: 2.5vh;
    transition: color 0.3s;
}

#accordion div {
    height: 40vh;
    background-color: rgba(245, 205, 86, 0.247);
    border-color: rgb(133, 1, 1);
    color: rgb(133, 1, 1);
    font-size: 1.5vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}

#accordion div h1 {
    margin-top: 2vh;
    font-weight: bold;
    font-size: 1.5vw;
    line-height: 5vh;
}

.icons {
    height: 10vh;
    width: 5vw;
    opacity: 0.7;
    margin-top: 2vh;
}

em {
    color: rgb(255, 1, 1)
}

#accordion h3 {
    background-color: rgba(255, 191, 0, 0.301);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url("media/headerBack2.png");
    background-position: center;
    background-size: 60vw 5vh;
    font-size: 1.1vw;
}

#accordion h3 p {
    display: inline;
    margin: unset;
    margin-left: 1.6vw;    
    font-weight: bold;
}

#accordion container img {
    height: 2vh;
    width: 1vw;
    margin-bottom: 0.5vh;
}

.downArrow {
    pointer-events: all;
    cursor: pointer;
    opacity: 0.4;
    height: 5vh;
    width: 4.5vw;
    position: relative;
    top: 3vh;
    padding-left: 1vw;
    padding-right: 1vw;
    transition: all 0.3s;
    -webkit-user-drag: none;
}

.downArrow:hover {
    opacity: 1;
}

#accordion container {
    position: relative;
    left: 2.88vw;
}

#accordion year {
    color: rgb(255, 222, 124);
    background-color: rgb(133, 1, 1);
    border: solid rgba(255, 191, 0, 0.301);
    border-radius: 0.2vw;
    font-size: 1.3vw;
}

.ui-accordion-header {
    opacity: 0.8;
    outline: none;
}

.ui-accordion-header-active{
    color: rgb(133, 1, 1);
    outline: none;
    border-color: rgb(133, 1, 1);
    opacity: 1;
}

.ui-accordion-header-icon{
    display: none;
}

#tabsTitles {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0vh !important;
    background-color: rgba(245, 205, 86, 0.2);
    border: 1px;
    border-color: rgba(133, 1, 1, 1);
    border-style: solid solid none solid;
    border-radius: 2vw 2vw 0vw 0vw;
    padding: 0.5em 0.5em;

}

.btn {
    border-radius: 1vw;
    width: 24%;
    height: 6vh;
    background-color: rgb(255, 222, 124);
    border-color: rgba(133, 1, 1, 1);
    border-width: 0.05em;
    color: rgb(133, 1, 1);
    font-size: 1.2vw;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
    -webkit-user-drag: none;
}

.btn:hover {
    background-color: rgb(250, 212, 96);
    color: rgba(133, 1, 1, 1);
    border-color: rgba(133, 1, 1, 1) !important;
}

.btn:focus {
    box-shadow: none !important;
    color: rgba(133, 1, 1, 1) !important;
}

.btn:active {
    background-color: rgb(255, 205, 53) !important;
    box-shadow: none !important;
    border-color: rgba(133, 1, 1, 1);
    color: rgba(133, 1, 1, 1) !important;
}

.colOpen {
    background-color: rgb(250, 212, 96);
}

.row {
    width: 102.9%;
    height: 60%;
}

.col {
    padding-left: 1vw;
    padding-right: 1vw;
}

.collapsing {
    transition: height 0.5s;
}


.card {
    font-size: 1.6vw;
    text-align: center;
    padding: unset;
    display: flex;
    justify-content: space-around;
    background: none;
    border: none;
    background-color: rgba(245, 205, 86, 0.2);
    border-radius: 0em 0em 1em 1em;
    border: 1px;
    border-style: none none solid none;
    border-color: rgba(133, 1, 1, 1);
    padding: 0.5em 0.5em;
}


.card div {
    font-weight: 600;
    font-size: 1.1vw;
    flex-grow: 1;
    margin: 0.5vw 0;
    border-radius: 1vw;
    padding: 1vw;
    background-color: rgba(255, 222, 124, 0.589);
    border: solid rgba(133, 1, 1, 1) 0.05em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card img {
    height: 5vh;
    opacity: 0.5;
}

#page5 .content p {
    float: right;
    text-align: center;
    padding-left: 10vw;
    padding-right: 10vw;
}

#page5 .content em {
    font-size: 1.8vw;
    color: rgba(133, 1, 1, 1);
    background-color: rgba(255, 222, 124, 0.336);
    border-radius: 1vw;
    cursor: help;
}

#page5Text {
    position: absolute;
    bottom: 32vh;
    font-size: 1.5vw;
}

#marks img {
    height: 1.4vh;
    width: 0.7vw;
}

#marks {
    position: absolute;
    top: 1.3vw;
    right: 25vw;
    z-index: -1;
    height: 4vh;
    width: 18vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right;
}

.tooltip-inner {
    max-width: 20vw
}

#stateHolder {
    position: absolute;
    top: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 8vh;
}

.state {
    font-weight: 500;
    font-size: 1.5vw;
    text-align: center;
    cursor: pointer;
    margin: 0 2vw;
    padding: 1vw;
    border-radius: 1vw;
    transition: all 0.2s;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: solid black 1px;
    filter: brightness(120%);
}

.state:hover {
    filter: brightness(200%) !important;
}

.state:active {
    filter: brightness(300%) !important;
}

#shigra {
    background-color: rgba(76, 196, 76, 0.4);
    width: 6.5vw;
    height: 8vh;
    left: 12vw;
    top: 0vh;
}

#maavar {
    background-color: rgba(199, 199, 0, 0.3);
    width: 17vw;
    height: 8vh;
    top: 0vh;
    left: -10vw;
}

#herum {
    background-color: rgba(255, 77, 77, 0.4);
    width: 6.5vw;
    height: 8vh;
    left: -22vw;
    top: 0vh;
}

#stateScreen {
    font-size: 1.3vw;
    text-align: center;
    background-color: rgba(255, 222, 124, 0.336);
    width: 50vw;
    height: 20vh;
    position: absolute;
    top: 52vh;
    right: 10vw;
    padding: 2vw;
    border-radius: 2vw;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.next {
    padding: 1vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3vw;
    font-weight: bold;
    height: 10vh;
    width: 7vw;
    position: absolute;
    bottom: -13vh;
    right: 31.5vw;
    border-radius: 2vw;
    background-color: rgba(245, 205, 86, 0.521);
    color: rgba(133, 1, 1, 0.5);
    border: solid rgba(133, 1, 1, 0.5) 1px;
    transition: all 0.3s;
    filter: grayscale(0.5);
}

.nextEnabled {
    cursor: pointer;
    filter: none;
    color: rgb(133, 1, 1);
    border: solid rgba(133, 1, 1, 1) 1px;
}

.nextEnabled:hover {
    cursor: pointer;
    background-color: rgba(255, 202, 43, 0.521);
}

.nextEnabled:active {
    background-color: rgba(255, 191, 0, 0.521);
}

#rotateMessage {
    color: rgb(133, 1, 1);
    text-align: center;
    position: absolute;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: 0vh;
    left: 0vw;
    width: 100vw;
    height: 60vh;
    margin-top: 20vh;
    font-size: 6vh;
}
#rotateMessage img {
    width: 50%;
}

.col6 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    width: 95%;
    height: 80%;
    margin-top: 10vh;
    background-color: rgba(245, 205, 86, 0.26);
    border-radius: 2em;
}

.backImg:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80%;
    z-index: -1;
    opacity: 0;
    transition: opacity 1s;
    background-image: url("media/team2.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 80% 80%;
}

.backImgShow:before {
    opacity: 0.3;
}

.tool6 {
    text-align: center;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 5vw;
    height: 9vh;
    background-color: rgba(245, 205, 86, 0.521);
    border-radius: 1.5vw;
    color: rgba(133, 1, 1, 1);
    font-weight: bold;
}

.btn6 {
    pointer-events: all !important;
    height: 8vh;
    padding: 1vh;
    background-color: rgba(245, 205, 86, 0.521);
    border-radius: 1.5vw;
    border: solid rgba(133, 1, 1, 1) 2px;
    transition: background-color 0.2s;
    cursor: pointer;
}

.btn6:hover {
    background-color: rgb(250, 212, 96);
}

.btn6:active {
    background-color: rgb(255, 205, 53) !important;
}

.row6 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 0%;
    transition: width 0.5s;
}

.content6 {
    overflow: hidden;
    width: 100%;
    background-image: url("media/timeline2.png");
    background-repeat: no-repeat;
    background-size: 105% 40%;
    background-position: 0% 50%;
    display: flex;
    justify-content: space-around;
    color: transparent;
    transition: color 0.5s;
    font-size: 1vw !important;
    font-weight: bold;
}

.content6 div {
    overflow: hidden;
    position: relative;
    height: 8vh;
    padding: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 220, 116);
    border: solid rgba(0, 0, 0, 0.2) 2px;
    border-radius: 1.5vw;
    text-align: center;
    font-size: inherit;
    margin: 0 0.5vw;
    flex-grow: 1;
}

.content6 div:last-child{
    margin-left: 3vw;
}

#page7 .content {
    justify-content: flex-end;
} 

#shlavim {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vh;
    background-color: rgba(245, 205, 86, 0.2);
    border-radius: 1em;

}

#shlavim img {
    width: 5vh;
    opacity: 0.3;
}

#placeholder {
    z-index: -1;
    opacity: 0.6;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    color: rgb(90, 0, 0);
    font-weight: bold;
    font-style: italic;
}

#placeholder img {
    height: 80%;
    margin-top: 2vh;
}

.shlav {
    background-color: rgba(245, 205, 86, 0.356);
    font-weight: 600;
    font-size: calc(0.8vw + 0.8vh);
    text-align: center;
    cursor: pointer;
    padding: 2vh .75vw;
    border-radius: 1em;
    transition: filter 0.2s;
    border: solid rgba(133, 1, 1, 1) 0.06em;
    color: rgba(133, 1, 1, 1);
}

.shlav:hover {
    filter: brightness(115%) !important;
}

.shlav:active {
    filter: brightness(130%) !important;
}

#shlavContents {
    height: 72%;
    width: 100%;
    background-color: rgba(245, 205, 86, 0.2);
    font-size: 1.3vw;
    border-radius: 1em;
    overflow: hidden;
}

#wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shlavContent {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 3.5vh;
    font-size: calc(0.8vw + 1.6vh);
    display: none;
    margin-bottom: 5vh;
}

.shlavContent img {
    opacity: 0.7;
    display: block;
    height: 10vh;
    margin: 1vh auto;
}