.switch {
  position: absolute;
  left: 31.8%;
  top: 12.5vh;
  display: inline-block;
  height: 10vh;
  width: 3vw;
  cursor: pointer;
  /*  */
  transition: transform 0.4s;
  }

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.sliderr {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(133, 1, 1);
  -webkit-transition:transform .4s;
  transition: transform .4s;
  box-shadow: 0.4vh 0.2vw;
}

.sliderr:before {
  cursor: pointer;
  position: absolute;
  content: "";
  height: 5vh;
  width: 2.5vw;
  left: 0.25vw;
  bottom: 4.5vh;
  background-color: rgb(245, 216, 130);
  -webkit-transition:transform .4s;
  transition:transform .4s;
}


input:checked + .sliderr:before {
  -webkit-transform: translateY(4.2vh);
  -ms-transform: translateY(4.2vh);
  transform: translateY(4.2vh);
}

/* Rounded sliders */
.sliderr.round {
  border-radius: 20vw;
}

.sliderr.round:before {
  border-radius: 50%;
}