@font-face {
    font-family: valera;
    src: url(../assets/fonts/VarelaRound-Regular.ttf);
  }

* {
    direction: rtl;
    user-select: none;
    font-family: valera;
}

@media screen and (orientation:portrait) {
    #mainScreen {
        opacity: 0;
    }
    #logo {
        transform: scale(0) !important;
    }
    #logo2 {
        transform: scale(0) !important;
    }
    #rotateMessage {
        display: flex;
    }
}

@media screen and (orientation:landscape) {
    #mainScreen {
        opacity: 1;
    }
    #logo {
        transform: scale(1) !important;
    }
    #logo2 {
        transform: scale(1) !important;
    }
    #rotateMessage {
        display: none;
    }
}

html {
    background-color: rgb(245, 224, 161);
}

body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    margin: unset !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main {
    opacity: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    position: absolute;
    top: 40vh;
    left: 2.5vw;
    height: 20vh;
    width: 10vw;     
    opacity: 0.8;  
}

#logo2 {
    position: absolute;
    top: 30vh;
    right: 0vw;
    height: 40vh;
    width: 20vw;     
    opacity: 0.8;  
}

#rotateMessage {
    color: rgb(133, 1, 1);
    text-align: center;
    position: absolute;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: 0vh;
    left: 0vw;
    width: 100vw;
    height: 60vh;
    margin-top: 20vh;
    font-size: 6vh;
}
#rotateMessage img {
    width: 50%;
}

#mainScreen {
    position: relative;
    right: 2.5vw;
    background-color: rgba(245, 205, 86, 0.185);
    padding: 4em 2em;
    border-radius: 5em;
    height: 50vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: rgb(133, 1, 1);
    font-size: 4vh;
}


p {
    font-weight: bold;
    font-size: 3vh;
}

#buttons {
    height: 10vh;
    width: 50vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5vh;
}

.button {
    cursor: pointer;
    color: rgba(133, 1, 1, 0.692);
    text-align: center;
    padding: 0em 0.5em;
    border-radius: 1em;
    height: 10vh;
    width: 15vw;
    font-size: 2.8vh;
    font-weight: bold;
    background-color: rgba(245, 205, 86, 0.356);
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
        background-color: rgba(255, 206, 58, 0.356);
}

.button:active {
        background-color: rgba(250, 196, 35, 0.356);
}


